# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
.env

# Project Specific Data (LEAK PREVENTION)
data/filings/
data/us_tickers.csv
vector_db/

# Streamlit
.streamlit/secrets.toml
.streamlit/static/

# OS Specific
.DS_Store
Thumbs.db
